<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Juno_okyo">
    <meta name="copyright" content="J2TEAM">
    <meta name="description" content="A simple web application to learn about Cross-Site Scripting (XSS)">
    <title>About - XSS Demo</title>
    <link href="https://junookyo.blogspot.com/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/2.3.4/mini-dark.min.css">
</head>
<body>
    <header>
        <a href="{{ url_for('xss_demo.index') }}" class="logo">XSS Me</a>
        <a href="{{ url_for('xss_demo.index') }}" class="button">Home</a>
        <a href="{{ url_for('xss_demo.about') }}" class="button">About</a>
        <a href="{{ url_for('xss_demo.index') }}#name=juno_okyo" class="button">DOM-based XSS</a>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumbs">
                    <li><a href="{{ url_for('xss_demo.index') }}">Home</a></li>
                    <li>About</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</body>
</html>



