<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vulnerable Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/2.3.4/mini-dark.min.css">
</head>
<body>
    <header>
        <a href="{{ url_for('xss_demo.index') }}" class="logo">XSS Me</a>
        <a href="{{ url_for('xss_demo.xss_demo_page') }}" class="button">Demo</a>
    </header>
    <div class="container">
        <form method="get" action="{{ url_for('xss_demo.vulnerable_search') }}">
            <input type="text" name="q" placeholder="Search..." value="{{ query }}">
            <button type="submit" class="primary">Search</button>
        </form>
        <hr>
        <div>
            <strong>Showing results for:</strong>
            {% autoescape false %}
            <span>{{ query }}</span>
            {% endautoescape %}
        </div>
    </div>
</body>
</html>



